body {
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
}

#bglayer {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0.5em;
}

#bglayer div {
    position: absolute;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-image: url("../img/5407316327_1ca2ff5569_o_low.jpg");
    background-attachment: fixed;
}

.hidden {
    display: none;
}
.shown {
    display: inline-block;
}

.op_01 = { opacity: 0.1; }
.op_02 = { opacity: 0.2; }
.op_03 = { opacity: 0.3; }
.op_04 = { opacity: 0.4; }
.op_05 = { opacity: 0.5; }
.op_06 = { opacity: 0.6; }
.op_07 = { opacity: 0.7; }
.op_08 = { opacity: 0.8; }
.op_09 = { opacity: 0.9; }
.op_10 = { opacity: 1.0; }

#banner {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 5% 0 5%;
    padding: 0 0 0 20px;
    max-width: 600px;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.list-inline > li > a {
  font-size: 1.5em;
}

.btn-social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn-outline {
    margin-top: 15px;
    border: solid 2px #fff;
    font-size: 20px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px #fff;
    color: #eceabe;
    background: rgba(255, 255, 255, 0.5);
}

